@font-face {
    font-family: "Roboto-Regular";
    src: url(./assets/fonts/Roboto-Regular/Roboto-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", Verdana, sans-serif;
}

body {
    background-color: #c4c6cb;
}

.header-top {
    background-color: rgb(28, 33, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top ul {
    display: flex;
    list-style: none;
    gap: 3vw;
    padding-right: 7vw;
}

.header-top li a {
    color: #9db6ec;
    text-decoration: none;
}


.menu-wrapper a {
    text-decoration: none;
}

.header-top h1 {
    background-color: rgb(77, 131, 149);
    padding: 1vh 0;
    padding-left: 5vw;
    padding-right: 1vw;
    margin: 1vh 0;
    
}

h1 {
    font-size: 20px;
}

p {
    color: #081735;
    margin: 5px;
}

.text-box {
    background-color: aquamarine;
    position: relative;
    margin-left: 3vw;
}

.grid img {
    border: 1px rgb(137, 161, 137) solid;
    background-color: white;
    width: 100%;
}

.grid img:hover {
    transform: scale(1.1);
    border: 5px solid rgb(241, 91, 241);
}


footer ul {
    display: flex;
}


@media only screen and (max-width: 600px) {
    .banner {
        width: 100%;
    }
    .header-top h1 {
        padding: 0.5vh 0;
        padding-left: 5vw;
        padding-right: 1vw;
        margin: 1vh 0;
        color: black!important;
    }
    
    h1 {
        font-size: 20px;
        color: rgb(20, 20, 99);
        margin: 8px 5px;
    }

    .header-bottom h3 {
        position: relative;
        top: -3vh;
        left: 70vw;
        font-size: 14px;
    }
    
    .header-top li a {
        font-size: 13px;
    }

    .grid img {
        height: 100%;
    }
    h5,
    h5 + p {
        font-size: 12px;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    h5 {
        padding-top: 0.5vh;
        text-decoration: none;
    }

       #about + p {
        text-align: justify;
    }

    .text-box {
        top: -6vh;
        display: inline-block;

    }

    footer ul {
        gap: 5px;
        margin-left: 2vw;
        font-size: 13px;
    }


}


